<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- custom css link below -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Rockets</title>
</head>

<body>
    <header class="jumbotron">
        <div class="container text-center">
            <h1 class="display-2">Rockets</h1>
        </div>
        <!-- container -->
    </header>
    <div class="container text-center">
        <section>
            <h3><u>Info</u></h3>
            <br>
            <button class="rocket1 btn btn-danger mr-2" id="btnCreateR1">Create rocket 1</button>
            <button class="rocket2 btn btn-warning ml-2" id="btnCreateR2">Create rocket 2</button>
            <br>
            <div id="infoBtns"></div>
            <article class="d-flex justify-content-around flex-column mt-3" id="rockets">

            </article>
        </section>
        <hr>
        <section>
            <h3><u>Speeds</u></h3>
            <br>
            <div id="speedBtns"></div>
            <article class="d-flex justify-content-around flex-column mt-5" id="speeds">

            </article>
        </section>
    </div>

    <!-- // SCRIPTS // -->
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- custom js link below -->
    <script src="../Models/engine.js"></script>
    <script src="../Models/rocket.js"></script>
    <script src="../Controllers/controller.js"></script>
</body>

</html>